<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668340871932-uhgcao8jk6neaimgonuffi21g8ju4k7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668340871932-uhgcao8jk6neaimgonuffi21g8ju4k7f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668340871932-p4a8sj94to06okbmreunmhutdbhe78b0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKRpT2xUJRMNRjRcthnWD4pWvh6lxkp24</string>
	<key>GCM_SENDER_ID</key>
	<string>668340871932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapforall</string>
	<key>PROJECT_ID</key>
	<string>map-for-all-192bf</string>
	<key>STORAGE_BUCKET</key>
	<string>map-for-all-192bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668340871932:ios:757ed52edf2ea0eeb82d79</string>
</dict>
</plist>